
.my-header {
  margin-top : 91px;
  margin-bottom: 0;
  max-height: 500px;
  background-image: url('../../img/banner.jpg');
  background-position: left, left;
  background-size: cover;
  overflow: hidden;
}

.my-header h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  text-transform: capitalize;
  text-align: center;
  margin-top: 130px;
  font-size: 4vw;


}

.my-header h1 small {
  color: white;
  font-size: 2vw;
  font-family: 'Helvetica', 'Sans Serif';
  opacity: 0.7;
  letter-spacing: 1.5px;

}

.my-header button {
  width: 200px;
  height: 50px;
}

@media (max-height: 600px) {
  .my-header {
    margin-top : 30px;
    height: 200px;
  }

  .my-header h1 {
    margin-top: 30px;
    font-size: 30px;


  }

  .my-header h1 small {
    font-size: 15px;

  }

  .my-header button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
  }
}
