
.my-navbar {
  height: 80px;
  margin:0;
  background-color: black;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  padding: 5px;
  width: 72px;
  overflow: hidden;
  transition: width 1s ;
}

.navbar-brand:hover {
  width: 250px;
}

.navbar-default .my-navbar-brand, .navbar-default .navbar-nav li>a, .my-navbar-nav li.active a {
  color: white;
  height: 76px;
  line-height: 45px;
  letter-spacing: 1.5px;
  border-top: solid black 4px;
}

.navbar-default .navbar-nav li.active>a {
  color: red;
  border-top: solid red 4px;
  background-color: black ;
}

.navbar-default .navbar-nav li>a:hover {
  color: red;
  background-color: black ;
}

.navbar-default .navbar-nav li.active>a:hover {
  color: red;
  background-color: black ;
}

.email-holder {
  display: inline-block;
  float: right;
  color: white;
  font-size: 14px;
  height: inherit;
  line-height: 80px;

}

@keyframes emailTextAnimation {
  0% {
  }

  50% {
    opacity: 0.6;
  }

  100% {
    content: "info@multunus.com";
  }
}

.email-holder p:after {
  letter-spacing: 2px;
  font-size: 15px;
  content : "Disciplined Creativity";
  animation: emailTextAnimation 5s linear infinite alternate;
}

.navbar img.logo {
  width: 250px;
  height: inherit;
}
