
.tagline {
  margin: 0;
  height: 100px;
  padding: 10px;
}

.tagline h1 {
  font-size: 30px;
  text-align: center;
  font-style: oblique;
}

@media (max-height: 600px) {

  .tagline {
    height: 70px;
    padding: 5px;
  }
}
